:root{
    --sec-header2-ani-dur:10s;
    --indent:3.5rem;
    
    --fs-reg-tag:1.7rem;
    --fs-custom-tag:2rem;
    --fs-header1-tag:3rem;
    --fs-header2-tag:2.3rem;
    --fs-form:1.4rem;
    --fs-links:2rem;


    --bg-hero-landing:#FFFFFF;
    --bg-header-tag:#039E00;
    --bg-custom-tag:#8D34FF;
    --bg-blinker:#8D34FFBB;
    --bg-attr:#008CFF;
    --bg-inside-curly:#1063DF;
    --bg-quotation:#5200FF;
    --bg-comment:#689553;
    --bg-form:#E1E1E1;
    --c-form-input:#000000;

    --bg-hero-landing:#121212;
    --bg-header-tag:#1778EB;
    --bg-custom-tag:#4EC9B0;
    --bg-blinker:#4EC9B0BB;
    --bg-attr:#9CDCFE;
    --bg-inside-curly:#FFD700;
    --bg-quotation:#9CDCFE;
    --bg-comment:#689553;
    --bg-form:#1E1E1E;
    --c-form-input:#FFFFFF;
    
    --bc-input-value:white;
    --bc-equal-sign:white;
    --bc-stroke:rgba(128, 128, 128, 0.25);
    --bg-fill:none;

    /* --bc-equal-sign:black; */
    --bc-input:#45D1FE;
    --bc-input-focus:#00aeff;
}

.App{
    background-color: var(--bg-hero-landing);
}

.notification{
    display:inline-block;
    position:fixed;
    top:65px;
    left:50%;
    background-color:beige;
    color:black;
    white-space: nowrap;
    padding:0.3rem 0.5rem;
    border-radius:1rem;

    transform:translate(-50%);
    z-index: 100;
}

.home-page-container{
    
    max-width:1440px;
    /* height:calc(100% - 60px); */
    padding:60px 0 0;
    margin:auto;
    background-color:var(--bg-hero-landing);
    color:white;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.hero-landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:5rem;
    height:max(calc(100vh - 60px),600px);

}

.home-page-container.dark{
    --bg-hero-landing:#121212;
    --bg-header-tag:#1778EB;
    --bg-custom-tag:#4EC9B0;
    --bg-blinker:#4EC9B0BB;
    --bg-attr:#9CDCFE;
    --bg-inside-curly:#FFD700;
    --bg-quotation:#9CDCFE;
    --bg-comment:#689553;
    --bg-form:#1E1E1E;
    --c-form-input:#FFFFFF;
    --bc-input-value:white;
    --bc-equal-sign:white;
    --bc-stroke:rgba(128, 128, 128, 0.25);
    --bg-fill:none;
    color:white;
}

/* //////////////////////////    hero Background images     ////////////////////////////*/
.symbol-bg{
    position:absolute;
    user-select: none;
    stroke:var(--bc-stroke);
    opacity: 0.5;
    display: none;
}

.symbol-bg > *{
    fill:var(--bg-fill) ;
}

#code_symbol{
    left:-40px;
}


#javascript_symbol{
    top:10px;
    right:20px;
}

#typescript_symbol{
    top:230px;
    right:300px;
}

#figma_symbol{
    right:50px;
    top:300px;
}

#html_symbol{
    top:380px;
    right:280px;
}

#SCSS_symbol{
    top:540px;
    right:200px;
}

#css_symbol{
    top:560px;
    right:500px;
}

#react_symbol{
    top:80%;
    left:30px;
}

/* //////////////////////////    hero content     ////////////////////////////*/

.title-name{
    font-weight:lighter;
}
                                /* tags set-up section */


.custom-tag{
    font-size:var(--fs-custom-tag);
}   

.opening-tag,
.closing-tag{
    color:var(--bg-header-tag);
    font-weight:lighter;
}

.opening-tag::before,
.opening-tag::after,
.closing-tag::before,
.closing-tag::after{
    color:grey;
}

.opening-tag::before{
    content:"<";
}

.opening-tag::after{
    content:">";
}

.closing-tag::before{
    content:"</";
}

.closing-tag::after{
    content:">";
}
.opening-tag.custom-tag,
.closing-tag.custom-tag,
.closed-tag{
    color:var(--bg-custom-tag);
}

.closed-tag::before{
    content:"<";
    color:grey;
}

.closed-tag::after{
    content:"/>";
    color:grey;
}

.attr{
    color:var(--bg-attr);
}

.attr::after{
    content:"=";
    color:var(--bc-equal-sign);

}

.curly-brackets{
    color:var(--bg-inside-curly);
}

.curly-brackets::before{
    content:"{";
    color:var(--bg-attr);
}
.curly-brackets::after{
    content:"}";
    color:var(--bg-attr);
}

.quotation{
    color:var(--bg-quotation);
}
.quotation::before{
    content:"\"";
}
.quotation::after{
    content:"\"";
}

.indent{
    /* margin-left:3.5rem; */
    margin-left:var(--indent);

}


.beg-tag,
.end-tag{
    font-size:2rem;
}
                                /* headers for hero */
.hero-headers{
    margin-bottom:3rem;
}

.title-name{
    width:max-content;
    font-size: var(--fs-header1-tag);
    margin-bottom:1rem;
}

/* animated header */

@keyframes shifter_blinker{
    0%,99%,99.99%,100%{ left:0; }
    35%,65%{ left:100%; }
}

@keyframes typewriter{
    0%,99%,99.99%,100%{ width:0%; }
    35%,65%{ width:100%; }
}

@keyframes blinker{
    0%,36%,44%,52%,60%,65%,99%,99.99%,100%{ opacity:1; }
    40%,48%,56%,64%{ opacity: 0; }
}

.secondary-title-container{
    font-size: var(--fs-header2-tag);
    display: flex;
    flex-wrap: nowrap;
    flex-shrink:0;
    font-weight: bold;
}

.secondary-title-container::before{
    content:"<";
    opacity:1;
    color:grey;
    font-size: var(--fs-header2-tag);
}

.secondary-title-wrapper{
    width:max-content;
    display:flex;
}

.secondary-title{
    font-size: inherit;
    display: flex;
    flex-wrap:nowrap;
}

.secondary-title::before{
    content:"FrontEndDeveloper";
    color:var(--bg-custom-tag);
    animation: typewriter var(--sec-header2-ani-dur) steps(17) infinite;
    overflow: hidden;
}

.secondary-title.alt1::before{
    content:"UserInterface";
    animation-timing-function: steps(13);
}

.secondary-title.alt2::before{
    content:"UserExperience";
    animation-timing-function: steps(14);
}

.blinker{
    display: inline-block;
    position:absolute;
    left:0;
    animation:shifter_blinker var(--sec-header2-ani-dur) steps(17) infinite;
    height:100%;
    transform:translate(2px);
}

.blinker::before{
    content:"";
    position:absolute;
    left:0;
    height:100%;
    border-right: 0.125em solid var(--bg-blinker);
    animation: blinker var(--sec-header2-ani-dur) infinite;
}

.blinker::after{
    content:"/>";
    width:max-content;
    color:grey;
    position:absolute;
    left:calc(100% + 0.125em);
}

.alt1.secondary-title .blinker{
    animation-timing-function: steps(13);
}

.alt2.secondary-title .blinker{
    animation-timing-function: steps(14);
}

::-webkit-scrollbar{
    display: none;
}

                                    /* links */
.clickable-links-container{
    width:min-content;
}

.clickable-links-container > * button{
    all:inherit;
}

.clickable-links-container > *:focus-within{
    outline: 2px solid orange;
}

.clickable-links-container > *{
    display: inline-block;
    margin-bottom:1rem;
    background-color:transparent;
    border:none;
}

.clickable-links-container > *:hover{
    opacity:0.7;
}

.Portfolio,
.Resume,
.Link{
    font-family: inherit;
    width:max-content;
    text-decoration: none;
    white-space: nowrap;
}

/* //////////////////////////    about section     ////////////////////////////*/

.about-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-wrapper{
    padding:3rem 0;
    flex-grow:1;
}

.about-me-title{
    margin-bottom:1rem;
    font-size: var(--fs-header2-tag);
    font-weight: lighter;
}

.about-me-para{
    font-size: var(--fs-reg-tag);
}

.about-me-para-content{
    padding-right:10%;
}

/* //////////////////////////    portfolio section     ////////////////////////////*/

.portfolio-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.portfolio-wrapper{
    flex-grow:1;
}

.comment{
    color:var(--bg-comment);
    font-size: var(--fs-reg-tag);
    padding-right:2rem;
}

.portfolio-content{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:2rem var(--indent);
    margin: auto;
}

.item{
    min-width:320px;
    width:30vw;
    max-width:450px;
    height:20rem;
    background-color:grey;
    margin:10px;
    flex-grow:1;
}

.item > img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
    transition:transform 200ms ease-in-out;
    cursor: pointer;
}

.item.active .modal-container{
    display: flex;
}
.item .modal-container{
    
    --indent:1.2rem;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999999;
}

.item .modal-container .modal-content{
    --padding:20px;
    display: flex;
    flex-direction:column;
    min-width:300px;
    width:99vw;
    max-width:700px;
    height:max-content;
    max-height: 99vh;
    background-color: var(--bg-hero-landing);
    padding:var(--padding);
    font-size: 1rem;
    border-radius:1rem;
    
}

.item .modal-container .modal-content .modal-wrapper{
    display: flex;
    flex-direction: column;
    padding-left:var(--indent);
    overflow-y: scroll;
    overflow-x: hidden;
}

.item .modal-container .modal-content .modal-header{
    font-size:1.1em;
}

.item .modal-container .modal-content .custom-tag{
    width:max-content;
    font-size:1.2em;
}

.item .modal-container .modal-content .modal-subheader{
    font-size:1em;
}

.item .modal-container .modal-content .modal-close{
    position:absolute;
    right:var(--padding);
    top:var(--padding);
    width:max-content;
    padding:15px;
    background-color: #E1E1E1;
    border:none;
    border-radius:50%;
    cursor: pointer;
    z-index: 1;
}

.item .modal-container .modal-content .modal-close:hover{
    opacity: 0.8;
}
.item .modal-container .modal-content .modal-close:active{
    opacity: 0.5;
}

.item .modal-container .modal-content .modal-close::after,
.item .modal-container .modal-content .modal-close:before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:70%;
    height:1px;
    background-color: #1E1E1E;
    transform:translate(-50%,-50%) rotate(45deg);
    pointer-events: none;
}
.item .modal-container .modal-content .modal-close:after{
    transform:translate(-50%,-50%) rotate(-45deg);
}
.item .modal-container .modal-content .modal-blurb-container{
    min-height: 80px;
    overflow: scroll;
}
.item .modal-container .modal-content .modal-blurb{
    min-height: 100px;
}

.item .modal-container .modal-content .modal-technologies{
    padding-left: var(--indent);
    padding-right: 5px;
    width:100%;
    flex-shrink: 0;
}

.item .modal-container .modal-content .modal-technologies .modal-technologies-wrapper::-webkit-scrollbar-thumb{
    background-color: currentColor;
}
.item .modal-container .modal-content .modal-technologies .modal-technologies-wrapper::-webkit-scrollbar{
    height:8px;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}
.item .modal-container .modal-content .modal-technologies .modal-technologies-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
}

@keyframes indicate {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.item .modal-container .modal-content .modal-technologies .indicators{
    display: none;
    position:absolute;
    left:var(--indent);
    top:0;
    bottom:0;
    width:5px;
    height: 100%;
    background-color: currentColor;
    flex-shrink: 0;
    animation: indicate 500ms ease-in-out infinite alternate;
    transform:translate(-100%);
}
.item .modal-container .modal-content .modal-technologies .indicators:nth-child(3){
    display: block;
    left:unset;
    right:0;
    transform:unset;
}
.item .modal-container .modal-content .modal-technologies a{
    text-decoration: none;
    color:inherit;
    padding:2px;
    margin:5px 10px;
    border-radius: 0.3rem;
}
.item .modal-container .modal-content .modal-technologies a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.item .modal-container .modal-content .modal-technologies figure{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.item .modal-container .modal-content .modal-technologies figure img{
    max-width: 100px;
    height:45px;
    margin-bottom: 5px; 
}
.item .modal-container .modal-content .modal-technologies figure .blend{
    mix-blend-mode: exclusion;
}
.item .modal-container .modal-content .modal-technologies figcaption{
    white-space: nowrap;
    word-wrap: none;
}

.item .modal-container .modal-content .modal-technologies figure *{
    flex-shrink: 0;
}

@media (hover:hover){
    .item > img:hover{
        transform:scale(1.1);
        z-index: 1;
    }
}

.item .modal-container .modal-content .modal-button-container > *{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.item .modal-container .modal-content .modal-button-container > *:hover{
    opacity: 0.8;
}



/* //////////////////////////    contact me section     ////////////////////////////*/

.contact-me-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:max(calc(100vh - 60px), 650px);
}

.contact-me-wrapper{
    display:grid;
    grid: auto / 50% 50%;
    align-items: center;
    justify-items: center;
    height:100%;
    font-size:var(--fs-reg-tag);
    padding:1rem 0;
}

.final-message-container{
    max-width:80%;
}

.final-message-container  a{
    color:#45D1FE;
}

.final-message-container  a:hover{
    opacity: 0.8;
}

/* //////////////////////////    form section     ////////////////////////////*/

.send-email-form{
    display: flex;
    flex-direction: column;
    min-width:300px;
    width:90%;
    max-width:700px;
    padding:0.8rem 1rem;
    border-radius:0.2rem;
    background-color:transparent;
    /* box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.25); */
}

.submit-butt{
    font-size:var(--fs-form);
    margin-right:1rem;
    cursor: pointer;
    align-self: flex-end;
}

.submit-butt:hover{
    opacity: 0.8;
}

#submit-form{
    color:inherit;
    font-size: inherit;
    background-color: transparent;
    border:none;
    cursor: pointer;
}


.input-container{
    --sec-trans:0.4s;
    --r-border:0.6rem;
    width: 92%;
    font-size: var(--fs-form);
    border-radius:var(--r-border);
    padding:1.2rem;
    margin: 1rem auto;
}

.input-container input{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:var(--bg-form) ;
    font-size:var(--fs-form);
    padding:0 1rem;
    border-radius:var(--r-border);
    border:0.15rem solid #45D1FE;
    /* outline: 0.1rem solid #45D1FE; */
    outline: none;

    box-shadow: 0 0 0 30px var(--bg-form) inset !important;
}

.input-container  label{
    position:absolute;
    top:50%;
    /* color:rgba(0, 0, 0, 0.5); */
    opacity: 0.5;
    transform:translate(0,-50%);
    transition: all var(--sec-trans) ease;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.label-bg{
    position:absolute;
    /* top:-0.1rem; */
    top:0.1rem;
    height:0.4rem;
    color: transparent !important;
    font-size: calc(var(--fs-form) - 0.2rem);
    background:var(--bg-form);

    transform-origin: center;
    transform:translate(0,50%) scaleX(0);
    transition:transform var(--sec-trans) ease;
    user-select: none;
    pointer-events: none;
}
.input-container input:focus ~ .label-bg,
.input-container.active .label-bg{
    transform:translate(0,-50%) scaleX(1);
}

.input-container.active input:-webkit-autofill{
    box-shadow: 0 0 0 30px var(--bg-form) inset !important;
}

.input-container.active input + label,
.input-container input:focus + label{
    top:-0.1rem;
    color:var(--bc-input-focus);
    opacity: 1;
    font-size: calc(var(--fs-form) - 0.2rem);
}

.input-container.active input,
.input-container input:focus{
    /* outline-color: var(--bc-input-focus); */
    border-color: var(--bc-input-focus);
    color:var(--bc-input-value)
} 

#message-input{
    display: block;
    width:92%;
    background-color: var(--bg-form);
    padding:0.5rem 1rem;
    border-radius:0.6rem;
    border:2px solid var(--bc-input);
    font-size: var(--fs-form);
    margin:1rem auto;
    color:var(--c-form-input);
    
    resize:none;
}

#message-input::placeholder{
    opacity: 0.5;
}

#message-input.active,
#message-input:focus{
    border-color:var(--bc-input-focus);
    outline: var(--bc-input-focus);
}

@media screen and (max-width:1060px){
    #typescript_symbol{
        display: none;
    }
}

@media screen and (max-width:960px){
    #javascript_symbol{
        display:none;
    }
}

@media screen and (max-width:768px){
    :root{
        --fs-reg-tag:1.3rem;
        --fs-custom-tag:1.5rem;
        --fs-header1-tag:2.5rem;
        --fs-header2-tag:1.8rem;
        --fs-form:1.5rem;
        --indent:2.5rem;
    }
    #html_symbol{
        top:-10px;
        right:50px;
    }
    #SCSS_symbol{
        top:150px;
        right:30px;
    }
    #css_symbol{
        display:none;
    }

    .contact-me-wrapper{
        grid:auto auto / auto;
        /* justify-items: flex-start;
        margin:var(--indent); */
    }
    .send-email-form{
        width:100%;
        max-width: 90%;
        margin-top:1rem;
    }
    .final-message-container{
        width:calc(100% - (2 * var(--indent)));
        max-width: 100%;
        margin: 0 auto;
    }
}


@media screen and (max-width:580px){
    :root{
        --fs-reg-tag:1.2rem;
        --fs-custom-tag:1.3rem;
        --fs-header1-tag:2rem;
        --fs-header2-tag:1.5rem;
        --fs-form:1.1rem;
        --indent:1.5rem;
    }
    #SCSS_symbol,
    #html_symbol,
    #figma_symbol,
    #react_symbol{
        display:none;
    }
    .contact-me-wrapper{
        grid:auto auto / auto;
    }
    .send-email-form{
        background-color:transparent;
        box-shadow: unset;
        width:100%;
        max-width: 100%;
    }
    .send-email-form .input-container, 
    .send-email-form #message-input{
        box-shadow: 1px 2px 3px black;
    }
    .item .modal-container .modal-content{
        font-size: 0.8rem;
        /* width:600px;
        height:400px;
        border-radius:1rem; */
    }
}

@media screen and (max-width:500px){
    :root{
        --fs-reg-tag:1rem;
        --fs-custom-tag:1rem;
        --fs-header1-tag:1.8rem;
        --fs-header2-tag:1.4rem;
        --fs-form:1.1rem;
        --indent:1.5rem;
    }
}



@media screen and (max-width:380px){
    :root{
        --fs-reg-tag:1rem;
        --fs-custom-tag:0.95rem;
        --fs-header1-tag:1.5rem;
        --fs-header2-tag:1.2rem;
        --fs-form:1.1rem;
        --indent:1rem;
    }
    .notification{
        font-size:0.8rem;
    }
    .hero-landing{
        height:max(calc(100vh - 60px),400px);
    }
    .hero-headers{
        margin-bottom:2rem;
    }
    .clickable-links-container > *{
        margin-bottom:0.5rem;
    }
}
@media screen and (max-width:360px){
    .clickable-links-container .curly-brackets ~ :is(.attr,.quotation){
        display: none;
    }
}
@media screen and (max-width:320px){
    :root{
        --fs-reg-tag:0.9rem;
        --fs-custom-tag:1.1rem;
        --fs-links:0.84rem;
        --fs-header1-tag:1.5rem;
        --fs-header2-tag:1.2rem;
        --fs-form:1.1rem;
        --indent:1rem;
    }

}