

:root{
    --sec-header2-ani-dur:6s;
    
    --fs-reg-tag:1.7rem;
    --fs-custom-tag:2rem;
    --fs-header1-tag:3rem;
    --fs-header2-tag:2.3rem;
    --fs-form:1.4rem;


    --bg-hero-landing:#FFFFFF;
    --bg-header-tag:#039E00;
    --bg-custom-tag:#8D34FF;
    --bg-attr:#008CFF;
    --bg-inside-curly:#1063DF;
    --bg-quotation:#5200FF;
    --bg-comment:#689553;
    --bg-form:#E1E1E1;

    --bc-equal-sign:black;
    --bc-input:#45D1FE;
    --bc-input-focus:#00aeff;
}

@keyframes blink{
    72%,88%,100%{
        opacity:0;
    }
    71%,80%,96%{
        opacity:1;
    }
}

@keyframes blink2{
    79%,86%,95%{
        opacity:0;
    }
    78%,82%,90%,100%{
        opacity: 1;
    }
}


@keyframes safari_titles{
    0%{width:17ch}
    5%{width:16ch}
    10%{width:15ch}
    15%{width:14ch}
    20%{width:13ch}
    25%{width:12ch}
    30%{width:11ch}
    35%{width:10ch}
    40%{width:9ch}
    45%{width:8ch}
    50%{width:7ch}
    55%{width:6ch}
    60%{width:5ch}
    65%{width:4ch}
    70%{width:3ch}
    75%{width:2ch}
    80%{width:1ch}
    85%{width:0ch}
    100%{width:0ch}
}

@keyframes safari_ui{
    0%{width:13ch}
    8%{width:12ch}
    16%{width:11ch}
    24%{width:10ch}
    32%{width:9ch}
    40%{width:8ch}
    48%{width:7ch}
    56%{width:6ch}
    64%{width:5ch}
    72%{width:4ch}
    80%{width:3ch}
    88%{width:2ch}
    92%{width:1ch}
    99%{width:0ch}
    100%{width:0ch}
}

@keyframes safari_ux{
    0%{width:14ch}
    7%{width:13ch}
    14%{width:12ch}
    21%{width:11ch}
    28%{width:10ch}
    35%{width:9ch}
    42%{width:8ch}
    49%{width:7ch}
    56%{width:6ch}
    63%{width:5ch}
    70%{width:4ch}
    77%{width:3ch}
    84%{width:2ch}
    91%{width:1ch}
    98%{width:0ch}
    100%{width:0ch}
}

.notification{
    display:inline-block;
    position:fixed;
    top:65px;
    left:50%;
    background-color:beige;
    color:black;
    white-space: nowrap;
    padding:0.3rem 0.5rem;
    border-radius:1rem;

    transform:translate(-50%);
    z-index: 100;
}

.home-page-container{
    max-width:1440px;
    height:max-content;
    margin:auto;
    background-color:var(--bg-hero-landing);

    overflow: hidden;
}

.hero-landing{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:max(calc(100vh - 60px),600px);
}

.home-page-container.dark{
    --bg-hero-landing:#121212;
    --bg-header-tag:#1778EB;
    --bg-custom-tag:#4EC9B0;
    --bg-attr:#9CDCFE;
    --bg-inside-curly:#FFD700;
    --bg-quotation:#9CDCFE;
    --bg-comment:#689553;
    --bg-form:#1E1E1E;
    --bc-input-value:white;
    --bc-equal-sign:white;
    --bc-stroke:rgba(128, 128, 128, 0.5);
    --bg-fill:none;
    color:white;
}

/* //////////////////////////    hero Background images     ////////////////////////////*/
.symbol-bg{
    position:absolute;
    user-select: none;
    stroke:var(--bc-stroke);
}

.symbol-bg > *{
    fill:var(--bg-fill) ;
}

#code_symbol{
    left:-40px;
}


#javascript_symbol{
    top:10px;
    right:20px;
}

#typescript_symbol{
    top:230px;
    right:300px;
}

#figma_symbol{
    right:50px;
    top:300px;
}

#html_symbol{
    top:380px;
    right:280px;
}

#SCSS_symbol{
    top:540px;
    right:200px;
}

#css_symbol{
    top:560px;
    left:48%;
}

#react_symbol{
    top:80%;
    left:30px;
}

/* //////////////////////////    hero content     ////////////////////////////*/

.title-name{
    font-weight:lighter;
}
                                /* tags set-up section */


.custom-tag{
    font-size:var(--fs-custom-tag);
}   

.opening-tag,
.closing-tag{
    color:var(--bg-header-tag);
    font-weight:lighter;
}

.opening-tag::before,
.opening-tag::after,
.closing-tag::before,
.closing-tag::after{
    color:grey;
}

.opening-tag::before{
    content:"<";
}

.opening-tag::after{
    content:">";
}

.closing-tag::before{
    content:"</";
}

.closing-tag::after{
    content:">";
}
.opening-tag.custom-tag,
.closing-tag.custom-tag,
.closed-tag{
    color:var(--bg-custom-tag);
}

.closed-tag::before{
    content:"<";
    color:grey;
}

.closed-tag::after{
    content:"/>";
    color:grey;
}

.attr{
    color:var(--bg-attr);
}

.attr::after{
    content:"=";
    color:var(--bc-equal-sign);

}

.curly-brackets{
    color:var(--bg-inside-curly);
}

.curly-brackets::before{
    content:"{";
    color:var(--bg-attr);
}
.curly-brackets::after{
    content:"}";
    color:var(--bg-attr);
}

.quotation{
    color:var(--bg-quotation);
}
.quotation::before{
    content:"\"";
}
.quotation::after{
    content:"\"";
}

.indent{
    margin-left:3.5rem;
}

.beg-tag,
.end-tag{
    font-size:2rem;
}
                                /* headers for hero */
.hero-headers{
    margin-bottom:3rem;
}

.title-name{
    font-size: var(--fs-header1-tag);
    margin-bottom:1rem;
}

.secondary-title-container{
    font-size: var(--fs-header2-tag);
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink:0;
}
                                /* animated header */

::-webkit-scrollbar{
    display: none;
}

.secondary-title::before{
    content:"FrontEndDeveloper";
    display: block;
    
    animation: safari_titles 6s steps(1,end) infinite alternate-reverse ;
    overflow: hidden;
}
.secondary-title.alt1::before{
    content:"UserInterface";
    animation: safari_ui 4.95s steps(1,end) infinite alternate-reverse ;
}
.secondary-title.alt2::before{
    content:"UserExperience";
    animation: safari_ux 4.62s steps(1,end) infinite alternate-reverse ;

}

.secondary-title::after{
    content:"";
    position: absolute;
    right:0;
    top:0;
    height:100%;
    border:1px solid black;
    opacity: 1;
    animation: blink var(--sec-header2-ani-dur) linear infinite alternate;
}

.secondary-title.alt1::after{
    animation-name:blink2;
    animation-duration:6s;
}

.secondary-title.alt2::after{
    animation-name: blink2;
    animation-duration:6s;
}
                                    /* safari specific */
@media(-webkit-animation){
    .secondary-title::before{
        display: inline-block;
        content:"FrontEndDeveloper";
        animation: safari_titles 6s steps(1,end) infinite alternate-reverse ;
        overflow:hidden;
    }
    .secondary-title.alt1::before{
        content:"UserInterface";
        animation: safari_ui 7s steps(1,end) infinite alternate-reverse ;
    }
    .secondary-title.alt2::before{
        content:"UserExperience";
        animation: safari_ux 7s steps(1,end) infinite alternate-reverse ;

    }
}

                                    /* links */
.clickable-links-container{
    width:min-content;
}

.clickable-links-container button{
    all:inherit;
}

.clickable-links-container > *:focus-within{
    outline: 2px solid orange;
}


.clickable-links-container > *{
    display: inline-block;
    margin-bottom:1rem;
}
.clickable-links-container > *:hover{
    opacity:0.7;
}

.Portfolio,
.Resume,
.Link{
    width:max-content;
    text-decoration: none;
    white-space: nowrap;
}

/* //////////////////////////    about section     ////////////////////////////*/

.about-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-wrapper{
    padding:3rem 0;
    flex-grow:1;
}

.about-me-title{
    margin-bottom:1rem;
    font-size: var(--fs-header2-tag);
    font-weight: lighter;
}

.about-me-para{
    font-size: var(--fs-reg-tag);
}

.about-me-para-content{
    padding-right:2rem;
}

/* //////////////////////////    portfolio section     ////////////////////////////*/

.portfolio-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.portfolio-wrapper{
    flex-grow:1;
}

.comment{
    color:var(--bg-comment);
    font-size: var(--fs-reg-tag);
}

.portfolio-content{
    display:grid;
    grid:auto / auto  auto;
    gap:2rem;
    width:max-content;
    padding:2rem 0;
    margin: auto;
}

.item{
    width:500px;
    height:25rem;
    background-color:grey;
}

/* //////////////////////////    contact me section     ////////////////////////////*/

.contact-me-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:max(calc(100vh - 60px), 600px);
}

.contact-me-wrapper{
    display:grid;
    grid: auto / 50% 50%;
    align-items: center;
    justify-items: center;

    height:100%;
    font-size:var(--fs-reg-tag)
}

.final-message-container{
    max-width:80%;
}

/* //////////////////////////    form section     ////////////////////////////*/

.send-email-form{
    width:400px;
    padding:0.8rem 1rem;
    border-radius:1rem;
    background-color:var(--bg-form);
    box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.25);
}

.submit-butt{
    margin-left:0.7rem;
    cursor: pointer;
}

.submit-butt:hover{
    opacity: 0.8;
}

#submit-form{
    color:inherit;
    font-size: inherit;
    background-color: transparent;
    border:none;
    cursor: pointer;
}


.input-container{
    --sec-trans:0.4s;
    width: 92%;
    font-size: var(--fs-form);
    padding:1.2rem;
    margin: 1rem auto;
}

.input-container input{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:var(--bg-form) ;
    font-size:var(--fs-form);
    padding:0 1rem;
    border-radius:0.6rem;
    border:0.2rem solid #45D1FE;
    /* outline: 0.1rem solid #45D1FE; */
    outline: none;

    box-shadow: 0 0 0 30px var(--bg-form) inset !important;
}

.input-container  label{
    position:absolute;
    top:50%;
    /* color:rgba(0, 0, 0, 0.5); */
    opacity: 0.5;
    transform:translate(0,-50%);
    transition: all var(--sec-trans) ease;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.label-bg{
    position:absolute;
    /* top:-0.1rem; */
    top:0.1rem;
    height:0.4rem;
    color: transparent !important;
    font-size: calc(var(--fs-form) - 0.2rem);
    background:var(--bg-form);

    transform-origin: center;
    transform:translate(0,50%) scaleX(0);
    transition:transform var(--sec-trans) ease;
    user-select: none;
    pointer-events: none;
}
.input-container input:focus ~ .label-bg,
.input-container.active .label-bg{
    transform:translate(0,-50%) scaleX(1);
}

.input-container.active input:-webkit-autofill{
    box-shadow: 0 0 0 30px var(--bg-form) inset !important;
}

.input-container.active input + label,
.input-container input:focus + label{
    top:-0.1rem;
    color:var(--bc-input-focus);
    opacity: 1;
    font-size: calc(var(--fs-form) - 0.2rem);
}

.input-container.active input,
.input-container input:focus{
    /* outline-color: var(--bc-input-focus); */
    border-color: var(--bc-input-focus);
    color:var(--bc-input-value)
} 

#message-input{
    display: block;
    width:92%;
    background-color: var(--bg-form);
    padding:0.5rem 1rem;
    border-radius:0.6rem;
    border:2px solid var(--bc-input);
    font-size: var(--fs-form);
    margin:1rem auto;
    
    resize:none;
}

#message-input.active,
#message-input:focus{
    border-color:var(--bc-input-focus);
    outline: var(--bc-input-focus);
}

@media screen and (max-width:700px){
    :root{
        --fs-reg-tag:1.2rem;
        --fs-custom-tag:1.5rem;
        --fs-header1-tag:2.5rem;
        --fs-header2-tag:1.8rem;
        --fs-form:0.9rem;
    }

    .symbol-bg:nth-child(1){
        display: initial !important;

    }
    .symbol-bg:nth-child(N){
        display: none;
    }
}